<!DOCTYPE html>
<html>
  <head>
    <title> ASCIII!! </title>
  </head>

  <body>
    <h1> ASCIIdfI!! </h1>

    <form method= "post">
      <label>
        <div> title </div>
        <input type = "text" name="title" value="{{title}}">
      </label>

      <label>
        <div>essay</div>
        <textarea name = "essay">{{essay}}</textarea>
      </label>
      <div class = "error">{{error}}</div>
      <input type="submit">
    </form>

    <hr>

    {% for blog in blogs%}
    <div class = "essay">
      <div class = "blog-title">{{blog.title}}</div>
      <pre class = "essay_body">{{blog.essay}}</pre>
    </div>
    {% endfor %}

  </body>
</html>
